.body-container {
  display: grid;
  padding: 16px;
  grid-template-areas: "img txt";
  column-gap: 60px;
  row-gap: 20px;
}

.image-container {
  grid-template-areas: img;
  justify-self: center;
  max-width: 350px;
  max-height: 350px;
}

.image {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.text-container {
  grid-template-areas: txt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  max-width: 500px;
  max-height: 500px;
}
.title {
  font-size: 32px;
  line-height: 10px;
}
.bio {
  text-align: justify;
  font-size: 24px;
}
/* Handling narrow screens */
@media screen and (max-width: 942px) {
  /* padding*2 + img width + gap + txt width = 942 */
  .body-container {
    grid-template-areas: "img" "txt";
  }
}
@media screen and (max-width: 400px) {
  .bio {
    font-size: 20px;
  }
}
