.content-container {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  padding: 100px 0px;
}

.image-container {
  min-width: 350px;
  height: 350px;
  padding-right: 48px;
}

.image {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.text-container {
  text-align: left;
  width: 500px;
  max-height: 500px;
  padding-left: 48px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.title {
  font-size: 32px;
  line-height: 10px;
}
.bio {
  text-align: justify;
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .content-container {
    flex-wrap: wrap;
  }
  .image-container {
    min-height: 320px;
  }
}

@media screen and (max-width: 700px) {
  .content-container {
    padding: 16px;
  }
  .image-container {
    min-width: 320px;
    padding-right: unset;
  }

  .text-container {
    text-align: left;
    min-width: 320px;
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .image-container {
    min-width: 0px;
    min-height: 0px;
    height: unset;
  }
  .text-container {
    min-width: 0px;
    padding: 0px;
  }
  .content-container {
    padding: 4%;
  }
  .bio {
    text-align: justify;
    font-size: 20px;
  }
}
