.footer-container {
  display: flex;
  justify-content: space-evenly;
  border-top: var(--border-style);
  background-color: var(--background-light);
}
.name {
  color: var(--small-heading-color);
}
.links-container,
.name {
  padding: 10px;
}

.links-container {
  margin-bottom: 20px;
}
