.footer-container {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid grey;
  background-color: white;
}
.name {
  color: grey;
}
.links-container,
.name {
  padding: 10px;
}

.links-container {
  margin-bottom: 20px;
}
