.main-heading {
  text-decoration: none;
  color: black;
  -webkit-user-select: text; /* Chrome all / Safari all */
  -moz-user-select: text; /* Firefox all */
  -ms-user-select: text; /* IE 10+ */
  user-select: text; /* Likely future */
  line-height: 10px;
}
.heading-container {
  text-align: center;
  border-bottom: 2px solid grey;
}
.subtext {
}
