.icon-container {
  display: grid;
  /* container width + padding * 2 = 45 */
  grid-template-columns: repeat(auto-fit, 45px);
  padding: 8px 0px;
  column-gap: 8px;
  row-gap: 8px;
}
/* LinkedIn */
.fa-linkedin,
.linkedin {
  background: #007bb5;
  color: white;
  font-size: 25px;
}

/* GitHub */
.fa-github,
.github {
  background: #24292d;
  color: white;
  font-size: 25px;
}

/* Instagram */
.fa-instagram,
.instagram {
  background: #f00075;
  color: white;
  font-size: 25px;
}
/* Twitter */
.fa-twitter,
.twitter {
  background: #55acee;
  color: white;
  font-size: 25px;
}

/* Spotify */
.fa-spotify,
.spotify {
  background: #1bd760;
  color: white;
  font-size: 25px;
}

/* Email */
.fa-envelope,
.envelope {
  background: #555;
  color: white;
  font-size: 25px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}
.social-container:hover {
  transform: scale(1.1);
}
