.footer-container {
  display: flex;
  justify-content: space-evenly;
  border-top: var(--border-style);
  background-color: var(--background-light);
  padding: 10px;
}
.name {
  color: var(--small-heading-color);
  margin: 0px;
}
