:root {
  --linkedin-color: #007bb5;
  --github-color: #24292d;
  --instagram-color: #f00075;
  --twitter-color: #55acee;
  --spotify-color: #1bd760;
  --email-color: #555;
  --small-heading-color: grey;
  --border-style: 2px solid grey;
  --background-light: white;
}
